* @ag-ui-protocol/copilotkit

sdks/community/java @pascalwilbrink
docs/sdk/java @pascalwilbrink

sdks/community/go @mattsp1290
docs/sdk/go @mattsp1290

sdks/community/dart @mattsp1290
docs/sdk/dart @mattsp1290

integrations/agent-spec @sonleoracle

integrations/cli-agent-orchestrator @ag-ui-protocol/copilotkit @plauzy

.github/config-allowlist.txt @AlemTuzlak @atai
