### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

### Java ###
*.class
*.log
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### Eclipse ###
.settings/
.project
.classpath
.factorypath
bin/

### VS Code ###
.vscode/

### OS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

### Environment ###
*.env
.env
.env.local
